.navbar-brand {
  background-image: url('img/sc_white_18.png');
  background-repeat: no-repeat;
  background-position: 15px 15px;
  padding-left: 45px;
  margin-left: 0px;
}
#main {
  padding-top: 60px;
}

.table>tbody>tr>td {
  border: 0px;
}
.alternate {
  background-color: #dddddd;
}
.lodgeDetail {
  background-color: #ffffff;
}
.jumbotron {
  background-color: #ffffff;
  padding-bottom: 0px;
}
.jumbotron h1 {
  background-image: url('img/sc36.jpg');
  background-repeat: no-repeat;
  padding-left: 38px;
}
@media screen and (min-width: 768px) {
  .jumbotron h1 {
    background-image: url('img/sc64.jpg');
    background-repeat: no-repeat;
    padding-left: 68px;
  }
}

.loginForm {
  padding-top: 15px;
}

.nav-tabs li a {
  cursor: pointer;
}