<tabset>
  <tab heading="Sign in">
    
    <form class="form-horizontal loginForm" ng-controller="navController as nav" ng-submit="vm.login()">
      <div class="form-group col-xs-12">
        <label for="inputEmail" class="control-label col-xs-3">Email address</label>
        <div class="col-xs-9">
          <input type="email" id="inputEmail" ng-model="nav.credentials.email" class="form-control" placeholder="Email address" required autofocus>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <label for="inputPassword" class="control-label col-xs-3">Password</label>
        <div class="col-xs-9 ">
          <input type="password" id="inputPassword" ng-model="nav.credentials.password" class="form-control" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <div class="col-xs-offset-3 col-xs-9">
          <button type="submit" class="btn btn-default">Sign in</button>
        </div>
      </div>

    </form>
  </tab>
  <tab heading="Register">
    <form class="form-horizontal loginForm" ng-controller="signupController as vm" ng-submit="vm.signup()">
      <div class="form-group col-xs-12">
        <label for="registerEmail" class="control-label col-xs-3">Name</label>
        <div class="col-xs-9">
          <input type="email" id="registerEmail" ng-model="vm.name" class="form-control" placeholder="Your name" required autofocus>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <label for="registerEmail" class="control-label col-xs-3">Email address</label>
        <div class="col-xs-9">
          <input type="email" id="registerEmail" ng-model="vm.email" class="form-control" placeholder="Email address" required autofocus>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <label for="registerPassword" class="control-label col-xs-3">Password</label>
        <div class="col-xs-9 ">
          <input type="password" id="registerPassword" ng-model="vm.password" class="form-control" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <div class="col-xs-offset-3 col-xs-9">
          <button type="submit" class="btn btn-default">Register</button>
        </div>
      </div>
    </form>
  </tab>

</tabset>


