<h2>Sign in</h2>
<form class="loginForm" ng-controller="navController as nav" ng-submit="vm.login()">
    <label for="inputEmail">Email address</label>
    <input type="email" id="inputEmail" ng-model="nav.credentials.email" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword" ng-model="nav.credentials.password" class="form-control" placeholder="Password" required>
    <input type="submit" class="btn btn-default" value="Sign in" />
    <button class="btn btn-primary" ng-click="nav.isNew = true">I'm new</button>
    <form class="signupForm" ng-controller="signupController as vm" ng-submit="vm.signup()" ng-show="nav.isNew">
        <label for="confirmPassword">Confirm password</label>
        <input type="password" id="confirmPassword" ng-model="vm.confirmPassword" class="form-control" placeholder="Confirm password" required>
    </form>
</form>